---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro">
	<main>
		<h1>Dev<span>Books</span></h1>
	</main>
</Layout>
